@import 'variable';
@import 'animations';

html {
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
  }
  body{
    position: relative;
    
  }

header{
    height: 6vh;
    position: sticky;
    top: 0;
    background-color: $last_color;
    z-index: 100;

    #menu{
        overflow: auto;
        li {
            font-size: 1rem;
            a{
                color: $second_color;
            }
        }

    }
  }

#home{
    height: 92vh;
    background: linear-gradient(180deg,$last_color 40vh, $second_color 40%);
    a { 
        color: $first-color;
    }
}
#about{
    height: 92vh;
    #about_title{
        width: fit-content;
        height: 40vh;
        width: 100%;
        position: relative;
        color : $second_color;
        h1{ 
            z-index: 1;
        }
    
    }
    #about_svg_title{
        fill: $last_color;
        height: inherit;
            path {
                cursor: pointer;
                animation: blob 2s infinite forwards;
                transform-origin: 50% 50%;
        
              
            }

            
    }
}
.list{
    list-style: none;
}
.progress-bar{
    background-color: $last_color;
}
#works{
    height: 92vh;
}
#title{
    height: 37vh;
    .tipying{
        color: $first-color;
    }
    .typed-cursor{
        color : $first-color;
    }
    h1{
        font-size: 5.00rem;
        color: $second_color;
    }
    text-align: center;
    
}

#cards{
    height: 56vh;
  
    .imgCard{
        height: 34vh;
    }
    
}
.active{
    border-bottom: 3px solid $second_color;
}

#cards .card:hover{
    background: #fff;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    transition: all 0.2s ease-in;
    transform: translate(0,-10%);
}
#triangle{
    width: 0;
    height: 0;
    border-bottom: 27vh solid $last_color;
    border-left: 47vw solid transparent;
}
@media screen and (max-width : 1400px) {

    
    #triangle{
        border-left: 46vw solid transparent;
    }

}

@media screen and(max-width : 1000px){
    #triangle{
        border-left: 45vw solid transparent;
    }

}
@media screen and (max-width : 790px) {

    #triangle{
        display: none;
    }
}
@media screen and (max-width : 570px){

    

    #title{
        h1{
          font-size: 4.00rem;
        }
    }


}

@media screen and ( max-width : 990px ) {
   
    #home{
        height: fit-content;
        #cards{
            height: fit-content;
        }
    }
    
}

@media screen and ( max-width: 450px ){

    #title{
        h1{
            font-size: 2.00rem;
        }
    }
    header{
        height: 9vh;
    }

}